@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
    <div class="col">
        <div class="card shadow-sm">
            <div class="btn card-body" style="text-align:left;">
                <a style="color:black;text-decoration-line:none" href="@Url.Action("Index","Admins")">
                    <i class="fa fa-user fa-2x"></i>
                    <p class="card-text">Quản trị viên</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Số lượng</small>
                        <small class="text-muted">9</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="btn card-body" style="text-align:left;">
                <a style="color:black;text-decoration-line:none" href="@Url.Action("Index","Teachers")">
                    <i class="fa fa-user fa-2x"></i>
                    <p class="card-text">Giảng viên</p>
                    <div class="d-flex justify-content-between align-items-center">
                        @*<div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>*@
                        <small class="text-muted">Số lượng</small>
                        <small class="text-muted">9</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="btn card-body" style="text-align:left;">
                <a style="color:black;text-decoration-line:none" href="@Url.Action("Index","Students")">
                    <i class="fa fa-user fa-2x"></i>
                    <p class="card-text">Sinh viên</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Số lượng</small>
                        <small class="text-muted">9</small>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow-sm">
            <div class="btn card-body" style="text-align:left;">
                <a style="color:black;text-decoration-line:none" href="google.com">
                    <i class="fa fa-archive fa-2x"></i>
                    <p class="card-text">Khóa</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Số lượng</small>
                        <small class="text-muted">9</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="btn card-body" style="text-align:left;">
                <a style="color:black;text-decoration-line:none" href="google.com">
                    <i class="fa fa-archive fa-2x"></i>
                    <p class="card-text">Lớp</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Số lượng</small>
                        <small class="text-muted">9</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="btn card-body" style="text-align:left;">
                <a style="color:black;text-decoration-line:none" href="google.com">
                    <i class="fa fa-book fa-2x"></i>
                    <p class="card-text">Chuyên ngành</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Số lượng</small>
                        <small class="text-muted">9</small>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow-sm">
            <div class="btn card-body" style="text-align:left;">
                <a style="color:black;text-decoration-line:none" href="google.com">
                    <i class="fa fa-book fa-2x"></i>
                    <p class="card-text">Môn học</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Số lượng</small>
                        <small class="text-muted">9</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="btn card-body" style="text-align:left;">
                <a style="color:black;text-decoration-line:none" href="google.com">
                    <i class="fa fa-question fa-2x"></i>
                    <p class="card-text">Câu hỏi</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Số lượng</small>
                        <small class="text-muted">9</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="btn card-body" style="text-align:left;">
                <a style="color:black;text-decoration-line:none" href="google.com">
                    <i class="fa fa-hourglass fa-2x"></i>
                    <p class="card-text">Bài thi</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Số lượng</small>
                        <small class="text-muted">9</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
